#tweets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 100%;
  margin: 50px;  
}

article:hover {
  box-shadow: 10px 10px 10px #808080;
}

header {
  display: flex;
  width: 95%;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

main {
  display: flex;
  width: 95%;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

footer {
  display: flex;
  border: none;
  border-top: 2px solid;
  width: 95%;
  flex-direction: row;
  font-size: 15px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

#footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  width: 50px;
}

.icon {
  padding: 5px;
}

.icon:hover {
  color: darkgoldenrod;
}

#username {
  color: lightgray;
  font-weight: bold;
}